body {
  height: 100vh;
}

.square {
  width: 100px;
  height: 100px;
  background-color: yellow;
  animation-name: kvadratas;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
.square:hover {
  animation-play-state: paused;
}

@keyframes kvadratas {
  0% {
    margin-left: 0px;
    margin-top: 0px;
  }
  25% {
    margin-left: 300px;
    margin-top: 0px;
  }
  50% {
    margin-top: 300px;
    margin-left: 300px;
  }
  75% {
    margin-left: 0px;
    margin-top: 300px;
  }
  100% {
    margin-left: 0px;
    margin-top: 0px;
  }
}
